<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hiyj.blog.mapper.ArticleLabelMapper">
    <resultMap id="labelMap" type="com.hiyj.blog.object.ArticleLabel">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coverPic" column="coverPic"/>
        <result property="describe" column="describe"/>
        <collection property="num" javaType="Integer" ofType="Integer"
                    select="getLabelPV" column="id"/>
        <collection property="pv" javaType="Integer" ofType="Integer"
                    select="getArtSumLabel" column="id"/>
    </resultMap>

    <resultMap id="typeMap" type="com.hiyj.blog.object.ArticleType">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coverPic" column="coverPic"/>
        <result property="describe" column="describe"/>
        <collection property="num" javaType="Integer" ofType="Integer"
                    select="getArtSumType" column="id"/>
        <collection property="pv" javaType="Integer" ofType="Integer"
                    select="getTypePV" column="id"/>
    </resultMap>

    <!--    获取标签所属文章总数-->
    <select id="getArtSumLabel" resultType="int">
        SELECT IFNULL(COUNT(*), 0)
        FROM article_map_label aml
        WHERE aml.label_id = #{id}
    </select>
    <!--    获取标签所属文章总数结束-->

    <!--    获取分类所属文章总数-->
    <select id="getArtSumType" resultType="int">
        SELECT IFNULL(COUNT(*), 0)
        FROM article_map_type aml
        WHERE aml.type_id = #{id}
    </select>
    <!--    获取分类所属文章总数结束-->

    <!--    通过标签ID获取标签访问量-->
    <select id="getLabelPV" resultType="int">
        SELECT IFNULL(SUM(pv.count), 0)
        FROM pv
        WHERE pv.`type` = 10
          AND pv.target_id = #{id}
    </select>
    <!--    通过标签ID获取标签访问量结束-->

    <!--    通过分类ID获取分类访问量-->
    <select id="getTypePV" resultType="int">
        SELECT IFNULL(SUM(pv.count), 0)
        FROM pv
        WHERE pv.`type` = 100
          AND pv.target_id = #{id}
    </select>
    <!--    通过分类ID获取分类访问量结束-->

    <!--    用户文章ID-->
    <sql id="userArticles">
        SELECT distinct uma.article_id
        FROM user_map_article uma
        WHERE uma.user_id = #{userId}
    </sql>
    <!--    用户文章ID结束-->

    <!--    所有标签-->
    <sql id="labels">
        SELECT al.*
        FROM (
                 SELECT DISTINCT aml.label_id
                 FROM article_map_label aml
             ) aml
                 LEFT JOIN article_label al on aml.label_id = al.id
    </sql>
    <!--    所有标签结束-->

    <!--    所有分类-->
    <sql id="types">
        SELECT al.*
        FROM (
                 SELECT DISTINCT amt.type_id
                 FROM article_map_type amt
             ) amt
                 LEFT JOIN article_label al on amt.type_id = al.id
    </sql>
    <!--    所有分类结束-->

    <!--   各个标签/类型访问量 -->
    <sql id="pv">
        SELECT target_id, SUM(count) as count
        FROM pv
        WHERE pv.`type` = ${type}
        GROUP BY target_id
    </sql>

    <sql id="labelsPV">
        <include refid="pv">
            <property name="type" value="10"/>
        </include>
    </sql>

    <sql id="typesPV">
        <include refid="pv">
            <property name="type" value="100"/>
        </include>
    </sql>
    <!--   各个标签/类型访问量结束 -->

    <!--    获取用户所有分类信息-->
    <sql id="userTypes">
        SELECT al.*
        FROM (
        SELECT DISTINCT amt.type_id
        FROM (
        <include refid="userArticles"/>
        ) uma
        LEFT JOIN article_map_type amt ON uma.article_id = amt.article_id
        ) types
        LEFT JOIN article_label al ON types.type_id = al.id
        ORDER BY al.name
    </sql>
    <!--    获取用户所有分类信息结束-->

    <select id="getTypeById" parameterType="int" resultMap="typeMap">
        select *
        from article_label
        where article_label.id = #{typeId}
    </select>

    <select id="getLabelById" parameterType="int" resultMap="labelMap">
        select *
        from article_label
        where article_label.id = #{labelId}
    </select>


    <select id="getArticleTypeById" parameterType="int" resultType="int">
        SELECT amt.type_id
        FROM article_map_type amt
        WHERE amt.article_id = #{articleId}
    </select>


    <insert id="addArticleMapType" parameterType="int">
        INSERT INTO article_map_type
            (article_id, type_id)
        VALUES (#{articleId}, #{typeId});
    </insert>

    <!--    获取所有标签完整信息-->
    <select id="getAllLabel" resultMap="labelMap">
        <include refid="labels"/>
    </select>
    <!--    获取所有标签完整信息结束-->
    <!--通过类型名获取类型-->
    <select id="getTypeByName" parameterType="String" resultMap="typeMap">
        SELECT *
        FROM article_label al
        WHERE al.name = #{typeName}
    </select>
    <!--    通过类型名获取类型结束-->
    <!--    获取所有分类-->
    <select id="getTypes" resultMap="typeMap">
        <include refid="types"/>
    </select>
    <!--    获取所有分类结束-->

    <!-- 添加新标签-->
    <insert id="addLabels" parameterType="List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article_label
        (name)
        VALUES
        <foreach collection="articleLabels" item="articleLabel" separator=",">
            (
            #{articleLabel.name}
            )
        </foreach>
        ;

    </insert>
    <!-- 添加新标签   >>end<<-->

    <!--    批量检查已经存在的标签-->
    <select id="batchCheckLabelByNames" parameterType="List"
            resultMap="com.hiyj.blog.mapper.ArticleLabelMapper.labelMap">
        SELECT *
        FROM article_label al2
        WHERE al2.name NOT IN
        (SELECT al.name FROM article_label al WHERE al.name NOT IN
        <foreach collection="articleLabels" item="articleLabel" open="(" close=")" separator=",">
            #{articleLabel.name}
        </foreach>)
    </select>
    <!--    批量检查已经存在的标签 >>end<<-->

    <!--  根据标签名批量查询标签对象  -->
    <select id="batchFindLabelByNames" parameterType="List"
            resultMap="com.hiyj.blog.mapper.ArticleLabelMapper.labelMap">
        SELECT al2.id ,al2.name FROM article_label al2 WHERE al2.name IN
        <foreach collection="articleLabels" item="articleLabel" open="(" close=")" separator=",">
            #{articleLabel.name}
        </foreach>
    </select>
    <!-- 根据标签名批量查询标签对象  >>end<< -->

    <!--    分页获取标签-->
    <select id="getLabelByPage" resultMap="com.hiyj.blog.mapper.ArticleLabelMapper.labelMap">
        <include refid="labels"/>
        limit #{limit} OFFSET #{offset}
    </select>

    <!--    分页获取标签结束-->
    <!--    设置标签内容-->
    <update id="setLabel">
        UPDATE article_label
        SET name      = #{articleLabel.name},
            `describe`= #{articleLabel.describe},
            coverPic= #{articleLabel.coverPic}
        WHERE id = #{articleLabel.id};
    </update>
    <!--    设置标签内容结束-->
</mapper>